<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8"/>
</head>
<body>
<section class="layout-content" layout:fragment="corpo">

	<nav class="navbar navbar-expand-md bg-light">
		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><i class="oi oi-caret-right"></i>
					<span th:text="#{locadora.cadastrar.label}"></span></li>
			</ul>
			<a class="btn btn-primary btn-md" th:href="@{/locadoras/listar}"
				 role="button"> <span class="oi oi-spreadsheet" title="Listar"
															aria-hidden="true"></span> <span th:text="#{locadora.listar.label}"></span>
			</a>
		</div>
	</nav>

	<div class="container" id="cadastro">

		<div th:replace="fragments/alert"></div>

		<form
				th:action="@{${locadora.id == null ? '/locadoras/salvar' : '/locadoras/editar'}}"
				th:object="${locadora}" method="POST">

			<div class="form-row">
				<div class="form-group col-md-6">
					<label th:text="#{locadora.name.label}" for="nome"></label>
					<input type="text" class="form-control" id="nome" autofocus="autofocus"
								 th:field="*{name}" th:placeholder="#{locadora.name.label}"
								 th:classappend="${#fields.hasErrors('name')} ? is-invalid"/>

					<div class="invalid-feedback">
						<span th:errors="*{name}"></span>
					</div>
				</div>

				<div class="form-group col-md-6">
					<label th:text="#{locadora.username.label}" for="username"></label>
					<input type="text" class="form-control" id="username" autofocus="autofocus"
								 th:readonly="${locadora.id != null}" th:field="*{username}" th:placeholder="#{locadora.username.label}"
								 th:classappend="${#fields.hasErrors('username')} ? is-invalid"/>

					<div class="invalid-feedback">
						<span th:errors="*{username}"></span>
					</div>
				</div>

				<div th:if="${locadora.id == null}" class="form-group col-md-6">
					<label th:text="#{locadora.password.label}" for="password"></label>
					<input type="password" class="form-control" id="password" autofocus="autofocus"
								 th:field="*{password}" th:placeholder="#{locadora.password.label}"
								 th:classappend="${#fields.hasErrors('password')} ? is-invalid"/>

					<div class="invalid-feedback">
						<span th:errors="*{password}"></span>
					</div>
				</div>

				<!--					hidden password input-->
				<input th:if="${locadora.id != null}" type="hidden" class="form-control" autofocus="autofocus"
							 th:field="*{password}" th:placeholder="#{locadora.password.label}"
							 th:classappend="${#fields.hasErrors('password')} ? is-invalid"/>

				<div class="form-group col-md-6">
					<label th:text="#{locadora.email.label}" for="email"></label>
					<input type="email" class="form-control" id="email" autofocus="autofocus"
								 th:readonly="${locadora.id != null}" th:field="*{email}" th:placeholder="#{locadora.email.label}"
								 th:classappend="${#fields.hasErrors('email')} ? is-invalid"/>

					<div class="invalid-feedback">
						<span th:errors="*{email}"></span>
					</div>
				</div>

				<div class="form-group col-md-6">
					<label th:text="#{locadora.city.label}" for="city"></label>
					<input type="text" class="form-control" id="city" autofocus="autofocus"
								 th:field="*{city}" th:placeholder="#{locadora.city.label}"
								 th:classappend="${#fields.hasErrors('city')} ? is-invalid"/>

					<div class="invalid-feedback">
						<span th:errors="*{city}"></span>
					</div>
				</div>

				<div class="form-group col-md-6">
					<label th:text="#{locadora.cnpj.label}" for="cnpj"></label>
					<input type="text" class="form-control" id="cnpj" autofocus="autofocus"
								 th:field="*{cnpj}" placeholder="__.___.___/____-__"
								 th:readonly="${locadora.id != null}"
								 data-mask="00.000.000/0000-00" data-mask-reverse="true"
								 th:classappend="${#fields.hasErrors('cnpj')} ? is-invalid"/>

					<div class="invalid-feedback">
						<span th:errors="*{cnpj}"></span>
					</div>
				</div>
			</div>

			<input type="hidden" id="id" th:field="*{id}"/>
			<button type="submit" th:text="#{button.salvar.label}"
							class="btn btn-primary btn-sm"></button>
		</form>
	</div>
</section>
</body>
</html>
