<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
			xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8"/>
</head>
<body>
<section class="layout-content" layout:fragment="corpo">

	<nav class="navbar navbar-expand-md bg-light">
		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<i class="oi oi-caret-right"></i>
					<span th:text="#{locacao.lista.label}"></span>
				</li>
			</ul>
			<a sec:authorize="hasRole('ROLE_CLIENTE')" class="btn btn-primary btn-md" th:href="@{/locacoes/cadastrar}"
				 role="button">
				<span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
				<span th:text="#{locacao.cadastrar.label}"></span>
			</a>
		</div>
	</nav>

	<div class="container" id="listagem">

		<div th:replace="fragments/alert"></div>

		<div class="table-responsive">
			<table class="table table-striped table-hover table-sm">
				<thead>
				<tr>
					<th>#</th>
					<th th:text="#{locacao.data.label}"></th>
					<th th:text="#{locacao.hora.label}"></th>
					<th sec:authorize="hasRole('ROLE_CLIENTE')" th:text="#{locacao.locadora.label}"></th>
					<th sec:authorize="hasRole('ROLE_LOCADORA')" th:text="#{locacao.client.label}"></th>
					<th th:text="#{acao.label}"></th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="locacao : ${locacoes}">
					<td th:text="${locacao.id}"></td>
					<td th:text="${#temporals.format(locacao.date, 'dd/MM/yyyy')}"></td>
					<td th:text="${locacao.hour}"></td>
					<td sec:authorize="hasRole('ROLE_CLIENTE')" th:text="${locacao.rentalCompany.name}"></td>
					<td sec:authorize="hasRole('ROLE_LOCADORA')" th:text="${locacao.client.name}"></td>
					<td colspan="2">
						<!--								<a class="btn btn-info btn-sm" th:href="@{/locacoes/editar/{id} (id=${locacao.id}) }"-->
						<!--								   role="button">-->
						<!--									<span class="oi oi-brush" th:title="#{link.editar.label}" aria-hidden="true"> </span>-->
						<!--								</a>-->
						<button
								th:id="${'btn_locacoes/excluir/' + locacao.id}"
								type="button" class="btn btn-danger btn-sm"
								data-toggle="modal" data-target="#myModal">
							<span class="oi oi-circle-x" th:title="#{link.excluir.label}" aria-hidden="true"></span>
						</button>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div th:replace="fragments/modal :: modal"></div>
</section>
</body>
</html>
