<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
			xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8"/>
</head>
<body>
<section class="layout-content d-flex align-items-center flex-column" layout:fragment="corpo">
	<div class="container align-items-start">
		<h1 th:text="#{explore.locadoras.title}">Nossas locadoras</h1>
		<p class="w-50" th:text="#{explore.locadoras.paragraph}">Aqui estão listadas as locadoras disponíveis!</p>
		<div th:replace="fragments/alert"></div>
	</div>

	<div class="container row align-items-center justify-content-center">


		<div class="col-6 h-100 pl-0">

			<h2 class="mb-4" th:if="${city} != null" th:text="#{explore.locadoras.list.filter.title} + ' ' + ${city}">Lista de
				locadoras</h2>

			<h2 class="mb-4" th:if="${city} == null" th:text="#{explore.locadoras.list.title}">Lista de locadoras</h2>


			<div th:if="${locadoras.isEmpty()}" class="table-responsive">
				<p th:text="#{explore.locadoras.list.empty}">Não encontramos locadoras.</p>
			</div>

			<div th:if="${!locadoras.isEmpty()}" class="table-responsive">
				<table class="table table-striped table-hover table-sm">
					<thead>
					<tr>
						<th>#</th>
						<th th:text="#{locadora.name.label}"></th>
						<th th:text="#{locadora.city.label}"></th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="locadora : ${locadoras}">
						<td th:text="${locadora.id}"></td>
						<td th:text="${locadora.name}"></td>
						<td th:text="${locadora.city}"></td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="col-6 text-center" id="listagem">
			<h3 th:text="#{explore.locadoras.filter.title}">Filtre as locadoras por cidade!</h3>
			<form class="d-flex flex-column align-items-center" method="GET" th:action="@{''(city=pt)}">
				<label for="filtro" th:text="#{explore.locadoras.filter.label}">Filtre por cidade</label>
				<input th:value="${city}" type="text" name="city" id="filtro" class="form-control w-75"
							 th:placeholder="#{explore.locadoras.filter.placeholder}"/>
				<div class="w-100">
					<button type="submit" class="btn btn-info mt-2 w-25 d-inline" th:text="#{explore.locadoras.filter.button}">
						Filtrar
					</button>
					<a th:href="@{/explorar/locadoras}">
						<button type="button" class="btn btn-secondary mt-2 d-inline"
										th:text="#{explore.locadoras.filter.clearbutton}">
							Limpar filtro
						</button>
					</a>
				</div>


			</form>
		</div>
	</div>

	<div th:replace="fragments/modal :: modal"></div>
</section>
</body>
</html>
